li {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 200px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.15);
    margin: 0 16px 16px 0;
    border-radius: 4px;
    overflow: hidden;
 }
  
 .id {
   margin-left: 1rem;
   padding: 1px;
 }
  
 .name {
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex: 1;
 }
  
 .bt-container {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: row;
 }
.bt-container button {
   width: 100%;
}


  
 .green {
    background-color: rgb(141, 218, 79);
 }
  
 .red {
    background-color: rgba(238, 98, 98, 0.801);
 }
 